@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", serif;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #ff5e00;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.swiper-slide {
  height: auto !important;
}
.swiper-slide-thumb-active div {
  border-color: black;
}
.swiper-button-prev:after {
  font-size: 28px !important;
}
.swiper-button-next:after {
  font-size: 28px !important;
}

/* ==== CONTACT FORM ==== */
.Toastify__progress-bar--success {
  background: #ff5e00 !important;
}
.Toastify__toast-icon svg {
  fill: #ff5e00 !important;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #374151;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: transparent;
}
/* LOADER */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #ff5e00 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
/* PRELOADER */
.preloader {
  width: fit-content;
  clip-path: inset(0 100% 0 0);
  animation: l5 2.5s steps(20) forwards;
}
.preloader:before {
  content: "Welcome To Car Deal";
}
@keyframes l5 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
